.login-form {
    min-width: 300px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
  [nz-carousel-content] {
    text-align: center;
    height: calc(100vh - 80px);
    line-height: 160px;
    background: linear-gradient(45deg,blue,gold);
    color: #fff;
    overflow: hidden;
  }
  /* .sectionform{
    background: url(https://img.freepik.com/premium-vector/geometric-gradient-technology-background_23-2149110132.jpg);
  } */
.main{
  /* background: linear-gradient(to left, rgb(174, 20, 174), rgb(52, 52, 208)); */
  background: linear-gradient(to left, rgb(2, 4, 36), rgb(9, 9, 9));
}
label{
  color: #fff;
  padding-bottom: 6px;
}